{% extends "Blog/base.html" %}
{% load static %}

{% block titulo %}
LUMBRE
{% endblock %}

{% block subtitulo %}
Acerca de mí
{% endblock %}

{% block contenido %}
<p>Sitio dedicado al cicloturismo y a la bicicleta como medio de transporte urbano.</p>
<p>LUMBRE es propiedad de Franco González, quien viaja en bicicleta sin importar la distancia, 
    enseña lengua y literatura, arma, diseña y repara bicicletas, y estudia los rudimentos de la programación en Python.</p>
    <br>
    <img src="/media/about/img.jpg" alt="imagen" style="max-width: 600px ;">
{% endblock %}
